nav {
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav a { 
    text-decoration: none;
    color: white;
}